.failure {
    color: red;
}
.success {
    color: #99dd99;
}
.warning {
    color: goldenrod;
}

.pageWrapper {
    padding: 10px;
    overflow: hidden;
}

.navbar {
    background-color: rgb(31, 137, 224);
    color: white;
    text-align: center;
}

.option
{
    height: 230px;
    width: 100%;
    border:solid 1px #eeeeee;
    background-color: #fafafa;
    /*vertical-align: middle;*/
    text-align: center;
    position: relative;
}

.img_wrapper {
    display: inline-block;
    position: relative;
}

.option img
{
    position: relative;
    display: inline-block;
}

.vertex {
    height: 3px;
    width: 3px;
    margin-top: -1px;
    margin-left: -1px;
    position: absolute;
    z-index: 1;
}

.option input {
    float: right;
}

.moduleWrapper {
    /*border:solid 1px #dddddd;*/
}

.disabled {
    background-color: #dedede;
}

.innocent:after {
    color: rgba(100,20,20,0.6);
    content: 'INNOCENT';
    font-size: 30px;
    position: absolute;
    top: 100px;
    left: 100px;
}

.innocent .checkbox_wrapper {
    display: none;
}

.culprit {

}

.glossaryTerm {
    cursor: pointer;
}

#perpTool, #parallelTool {
    display: none;
}

#perpTool {
    margin-top: -200px;
}

.activeTool {
    position: absolute;
    height: 200px;
    width: 200px;
    z-index: 1000;
}

.centredOrigin {
    background-color: rgba(0,0,0,0.2);
    transform-origin: 50% 50% 0;
}

.rotationHandle {
    position: absolute;
    height: 25px;
    margin-left: 90%;
    transform-origin: 50% 50% 0;
    user-drag: none; 
    -webkit-user-drag: none;
    z-index: 10;
}

.checkbox_wrapper {
    position: absolute;
    right: 30px;
    top: 10px;
    height: 20px;
    width: 20px;
}

.checkbox_wrapper input[type="checkbox"] {
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.checkbox_wrapper input[type="checkbox"] + label{
    background: url('../img/checkbox_normal.png') no-repeat;
    background-size: 20px;
    height: 100%;
    width: 100%;
    display: inline-block;
    z-index: 1;
}

.checkbox_wrapper input[type="checkbox"]:checked + label{
    background: url('../img/checkbox_crossed.png') no-repeat;
    background-size: 20px;
    height: 100%;
    width: 100%;
    display: inline-block;
}

img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}