.failure {
    color: red;
}
.success {
    color: #99dd99;
}
.warning {
    color: goldenrod;
}

.tools button {
    width: 100%;
}

.pageWrapper {
    padding: 10px;
    overflow: hidden;
}

.navbar {
    background-color: rgb(31, 137, 224);
    color: white;
    text-align: center;
}

.option
{
    height: 230px;
    width: 100%;
    border:solid 1px #eeeeee;
    background-color: #fafafa;
    vertical-align: middle;
    text-align: center;
}

.option img
{
    margin: auto;
}

.option input {
    float: right;
}

.moduleWrapper {
    /*border:solid 1px #dddddd;*/
}

.disabled {
    background-color: #dedede;
}

.glossaryTerm {
    cursor: pointer;
}

.vertex {
    height: 3px;
    width: 3px;
    margin-top: -1px;
    margin-left: -1px;
    position: absolute;
    z-index: 1;
}

#perpTool, #parallelTool {
    display: none;
}

.activeTool {
    position: absolute;
    height: 200px;
    width: 200px;
    /*opacity: 0.5;*/
    margin-top: -200px;
}